.logo {
    font-weight: bold;
    font-size: 1rem;
}

.caption {
    position: absolute;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}
