@mixin base-title {
    font-weight: bold;
}

.title {
    &-1 {
        @include base-title;
        font-size: 2rem;
    }

    &-2 {
        @include base-title;
        font-size: 1.5rem;
    }

    &-3 {
        @include base-title;
        font-size: 1.2rem;
    }

    &-4 {
        @include base-title;
        font-size: 1rem;
    }
}
